@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #fafafa;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for cleaner look like Instagram */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
